.App {
    text-align: center;
}
  
.navlink {
    text-decoration: none;
    color: white;
    padding: 5px;
    padding-inline: 10px;
    margin-inline: 10px;
}
  
.navlink:hover {
    background-color: white !important;
    color: #00C1B3 !important;
    border-color: #00C1B3 !important;
}

.navbar {
    background-color: #00C1B3;
}

.text1 {
    font-size: large;
}

.botao {
    background-color: #00C1B3;
}

.botaoDanger:hover {
    background-color: white !important;
    color: red !important;
    border-color: red !important;
}